#display {
    width: 57%;
    background-color: darkgray;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 15px;
    border: 2px solid #333;
    border-radius: 8px;
    text-align: center;
}

.button1 {
    /* display: block; */
    width: 20%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: #4CAF50;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.button2 {
    /* display: block; */
    width: 20%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: #4CAF50;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.button3 {
    /* display: block; */
    width: 19%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: #4CAF50;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.button4 {
    /* display: block; */
    width: 20%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: lightseagreen;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}


.button5 {
    /* display: block; */
    width: 20%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: lightseagreen;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}


.button6 {
    /* display: block; */
    width: 19%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: lightseagreen;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}


.button7 {
    /* display: block; */
    width: 20%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: rgb(60, 109, 235);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.button8 {
    /* display: block; */
    width: 20%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: rgb(60, 109, 235);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.button9 {
    /* display: block; */
    width: 19%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: rgb(60, 109, 235);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.button0 {
    /* display: block; */
    width: 60%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: rgb(93, 123, 85);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.buttonplus {
    /* display: block; */
    width: 30%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: rgb(127, 69, 242);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.buttonminus {
    /* display: block; */
    width: 30%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: rgb(127, 69, 242);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.buttonmulti {
    /* display: block; */
    width: 20%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: rgb(60, 109, 235);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.buttondivide {
    /* display: block; */
    width: 20%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: rgb(60, 109, 235);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.buttonezi {
    /* display: block; */
    width: 19%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: rgb(60, 109, 235);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.buttonclear {
    /* display: block; */
    width: 60%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: rgb(188, 135, 12);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.main {
    background-color: darkslategrey;
    width: 80%;
    padding-left: 20%;
    
}